# To prevent access to .env and other files
<Files .*>
# Apache 2.2
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
# Apache 2.4
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
</Files>

<IfModule mod_alias.c>
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    	RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

    	RewriteCond %{HTTPS} off
    	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

   	RedirectMatch 301 ^/suleyman-ozer-turizm/$ https://realdemo.site/suleyman-ozer-turizm/public
</IfModule>